<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<!--&lt;!&ndash;<form action="/admin/add" method="post">&ndash;&gt;-->
<!--<form action="#" th:action="@{/admin/add}" th:object="${user}" method="post">-->
<!--    User Name:<input type="text" th:field="*{userName}" id="firstName" placeholder="First Name">-->
<!--    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Name Error</span> <br/><br><br>-->
<!--    LastName :<input type="text" name="lastName" placeholder="Last Name" required><br/>-->
<!--    Password :<input type="text" name="password" placeholder="Password" required><br/>-->
<!--    Email :<input type="text" name="email" placeholder="@yandex.ru" required><br/>-->
<!--    Age :<input type="number" name="age" placeholder="age" required><br/>-->

<!--    <p>Пол: <select name="sex"><br/>-->
<!--        <option disabled>Пол :</option>-->
<!--        <option selected value="MALE">Мужской</option>-->
<!--        <option selected value="FEMALE">Женский</option>-->
<!--        </select>-->
<!--    </p>-->
<!--    <input type="checkbox" name="userRole" value="user" >USER<Br>-->
<!--    <input type="checkbox" name="adminRole" value="admin">ADMIN<Br>-->
<!--    <button type="submit">Add</button>-->
<!--</form>-->
<form action="#" th:action="@{/admin/add}" th:object="${user}" method="post">
    <label for="userName">First name</label>
    <input type="text" th:field="*{userName}" id="userName" placeholder="First Name">
    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Name Error</span> <br/><br><br>
    <label for="lastName">Last name</label>
    <input type="text" name="lastName" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span> <br/><br><br>
    <label for="password">Password</label>
    <input type="text" name="password" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span> <br/><br><br>    <label for="email">Email:</label>
    <input type="text" name="email" th:field="*{email}" id="email" placeholder="@yandex.ru">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Password Error</span> <br/><br><br>
    <label for="age">Age:</label>
    <input type="number" name="age" th:field="*{age}" id="age" placeholder="age">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Password Error</span> <br/><br><br>
    <input type="checkbox" name="userRole" value="user">USER<Br>
    <input type="checkbox" name="adminRole" value="admin">ADMIN<Br>
    <button type="submit">Add</button>
</form>
</body>
</html>