<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>

<div th:switch="${#lists.isEmpty(users)} ? ${true} : ${false}">
    <span th:case="${true}">   <h2>No Users Found!</h2>    </span>
    <span th:case="${false}">
        <h2>Users:</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <div th:each="role : ${user.roles}" th:text="${role}"></div>
                </td>
                <td>
                    <form>
                        <div>
                            <form method="get">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Edit_Notepad_Icon.svg"
                                     width="20px" height="20px">
                                <a th:href="@{/admin/edit/{id}(id=${user.id})}">Edit</a>
                            </form>
                        </div>
                    </form>
                </td>
                <td>
                    <form>
                        <div>
                            <form method="get">
                                <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-line-set-2/52/delete__remove__trash__dustbin-512.png"
                                     width="20px" height="20px">
                                <a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a>
                            </form>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        </p>
    </span>
    <p><a th:href="@{/admin/add}">Create user</a></p>
</div>

</body>
</html>