<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<form action="#" th:action="@{/admin/edit}" th:object="${user}" method="post">
    <label for="id">id</label>
    <input type="text" th:field="*{id}" id="id" placeholder="Id" readonly><br><br>
    <label for="firstName">First name</label>
    <input type="text" th:field="*{userName}" id="firstName" placeholder="First Name">
    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Name Error</span> <br/><br><br>
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span> <br/><br><br>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span> <br/><br><br>    <label for="email">Email:</label>
    <input type="text" th:field="*{email}" id="email" placeholder="@yandex.ru">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Password Error</span> <br/><br><br>
    <label for="age">Age:</label>
    <input type="number" th:field="*{age}" id="age" placeholder="age">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Password Error</span> <br/><br><br>
    <label for="sex">Sex:</label>
    <select name="sex" th:field="*{sex}" id="sex">
        <option selected value="MALE">Мужской</option>
        <option selected value="FEMALE">Женский</option>
    </select>
    <input type="checkbox" name="userRole" value="user">USER<Br>
    <input type="checkbox" name="adminRole" value="admin">ADMIN<Br>
    <button type="submit">Edit</button>
</form>
</body>
</html>